/* Add these styles for the AppHeader component
.App-header {
  background-color: #333; /* Background color for the header
  color: white; /* Text color for the header 
  padding: 20px; /* Padding around the header content 
  text-align: center;
} */

/* Your existing styles for other elements */
body {
  background-color: #f5f5f5;
  margin-top: 50px;
  font-family: 'Lato';
}

.item {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border: transparent;
  border-radius: 5px;
  box-shadow: 0 0 1em #ccc;
  transition: all .2s ease-in-out;
}

.item:hover {
  box-shadow: 0 0 1em #aaa;
}

.item.completed {
  text-decoration: line-through;
}

.toggles {
  color: black;
}

.name {
  padding-top: 3px;
}

.remove {
  padding-left: 0;
}

button:focus {
  border: 1px solid #333;
}